body {
    background-image: url(/kepek/hatter.jpg);
}

.body_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.head h1 {
    height: 7rem;
    background-image: url(/kepek/fejlec.jpg);
    margin: 0px;
    color: white;
    text-align: center;
}   

.buttons a {
    display: block;
    border-radius: 0.7rem;
    background-color: blue;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-block: auto;  
    margin-block: 1px;
}

.buttons {
    display: grid;
    grid-template-columns: 4fr;
    height: 120px;
    width: 70%;
    padding-inline: auto;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
}

.galeria img {
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    transform: rotate(-7deg);
    
}

.rotate{
    transform: rotate(7deg);
}


.foot {
    background-color: blue;
    font-size: 10px;
    text-align: center;
    font-weight:100;
}

